body {
	background-color: #7F9D7F;
}

#carousel {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#carousel img {
	width: 400px;
	height: 300px;
	background-size: cover;
}
#carousel > ul {
	list-style-type: none;
	width: 2000px;
	padding: 0;
	margin: 0;
}
#carousel ul li {
	float: left;
	text-align: center;
}